@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@font-face {
  font-family: "Norse";
  src: url(assets/fonts/norse/Norse.otf);
  font-weight: 500;
}

@font-face {
  font-family: "Norse";
  src: url(assets/fonts/norse/Norsebold.otf);
  font-weight: 700;
}

:root {
  --spacing-1: 16px;
  --spacing-2: 24px;
  --spacing-3: 32px;
  --spacing-4: 40px;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: normal;
}

input,
select,
button,
textarea {
  font: inherit;
}

img {
  display: block;
}

#root {
  display: flex;
}

.left,
.right {
  flex: 1 0 auto;
  position: relative;
  overflow: hidden;
  height: 100vh;
}
.left {
  flex-basis: 40vw;
}

.right {
  flex-basis: 60vw;
  padding-top: calc(var(--spacing-3) * 2);
}

.right > p {
  padding-left: var(--spacing-4);
  padding-right: calc(var(--spacing-2) * 11);
  font-weight: 700;
  font-size: 1.2rem;
}

.right > p:nth-child(2) {
  margin-top: var(--spacing-2);
}

.card {
  background-color: #fff;
  box-shadow: 4px 3px 10px -3px rgba(8, 8, 8, 0.556);
  padding: var(--spacing-2) var(--spacing-4) var(--spacing-3);
  margin-top: var(--spacing-3);
  margin-bottom: var(--spacing-4);
}

.card > h2 {
  font-weight: 500;
  font-size: 1.3rem;
  text-shadow: 1px 1px 1px rgba(8, 8, 8, 0.556);
}

.grid-form {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  gap: var(--spacing-1) var(--spacing-4);
  margin-top: var(--spacing-2);
}

.field-group {
  display: flex;
  flex-direction: column;
}

.field-group input {
  border-radius: 4px;
  border: 1px solid #eaeaea;
  background-color: #fefefe;
}

.field-group input:focus {
  box-shadow: 4px 5px 6px -2px rgba(0, 0, 0, 0.55);
}

.field-group input:user-invalid {
  border: 1px solid #f5605e;
}

.field-group label {
  text-transform: uppercase;
  font-size: 0.6rem;
  font-weight: 700;
}

.form-action {
  padding-left: var(--spacing-4);
}

.form-action button {
  border: none;
  border-radius: 4px;
  background-color: #b4997c;
  padding: calc(var(--spacing-1) / 2) var(--spacing-3);
  font-size: 1.05rem;
  font-weight: 700;
  color: #fff;
}

.form-action button:hover {
  background-color: #aa8b6f;
}

.form-action button:active {
  background-color: #ceb897;
}

.form-action p {
  margin-top: var(--spacing-3);
  font-size: 0.8rem;
}

.form-action p > a {
  color: #aa8b6f;
  text-decoration: none;
  font-weight: 700;
}

.background {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -10;
  width: 100%;
  height: inherit;
}

.logo {
  position: absolute;
  top: 20%;
  left: 0;
  background-color: rgba(8, 8, 8, 0.556);
  width: 100%;
  padding: 10px;
}

.logo img {
  width: 75px;
  display: inline-block;
  vertical-align: middle;
}

.logo p {
  font-size: 4.6rem;
  font-weight: 700;
  color: #fff;
  font-family: "Norse", sans-serif;
  vertical-align: middle;
  text-align: center;
  margin: 0 auto;
}

.credit {
  position: absolute;
  font-size: 0.8rem;
  color: #fff;
  width: 100%;
  text-align: center;
  left: 0;
  bottom: 20px;
}

.credit a {
  color: inherit;
  font-weight: 700;
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .grid-form {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1100px) {
  html {
    font-size: 12px;
  }
  .right > p {
    padding-right: var(--spacing-2);
  }
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 24px;
  }
    .grid-form {
    grid-template-columns: repeat(2, 300px);
  }
}
